<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Sign In</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="signin-page">
  <%- include('./partials/nav.ejs') %>

  <div class="container">
    <h1>Sign In</h1>
    <div>
      <div>
        <% if (locals.error) { %>
          <div class="alert alert-danger">
            <%= locals.error %>
          </div>
        <% } %>
      </div>
    </div>
    <form action="/user/signin" method="POST">
      <div>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div>
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <%- include('./partials/scripts.ejs') %>
</body>
</html>
